In [1]:
#1
print("Hello")

Hello

In [1]:
#2
print("문장1", "문장2")

문장1 문장2

In [2]:
#3
print("Hello") ; print("World")

Hello
World

In [6]:
#4
print("'Hello'")

'Hello'

In [9]:
#5
print('"Hello World"')

"Hello World"

In [13]:
#6
print('\"!@#$%^&*\'')

"!@#$%^&*'

In [25]:
#7
print("C:\Download\'hello'.py")

C:\Download'hello'.py

In [28]:
#8
print("Hello\nWorld")

Hello
World

In [30]:
#9
c = input("Republic of Korea")
print(c)

Republic of Koreadf
df

In [31]:
#10
n = input() #기본적으로 input 함수는 들어간 객체를 문자열로 인식함
n = int(n)
print(n)

5
5

In [32]:
#11
f = input()
f = float(f)
print(f)

0.534
0.534

In [33]:
#12
a = input()
b = input()
print(a)
print(b)

5
6
5
6

In [34]:
#13
a = input()
b = input()
print(a)
print(b)

When I was your man
I felt on cloud nine
When I was your man
I felt on cloud nine

In [36]:
#14
f = input()
print(f)
print(f)
print(f)

5
5
5
5

In [40]:
#15
a,b = input().split()
print(a)
print(b)

1 2
1
2

In [41]:
#16
c1 = input()
c2 = input()
print(c2, c1)

a
b
b a

In [42]:
#17
s = input()
print(s,s,s)

5 +4j
5 +4j 5 +4j 5 +4j

In [47]:
#18
a,b = input().split(':')
print(a, b, sep=':')

18:45
18:45

In [51]:
#19
y,m,d = input().split('.')
print(y,m,d, sep='.')

21.11.05
21.11.05

In [1]:
#20
a,b = input().split('-')
print(a,b, sep='-')

990506-1234323
990506-1234323

In [3]:
#21
s = input()
print(s[0])
print(s[1])

a23451kk
a
2

In [10]:
#22
a = "211105"
print(a[0:2])
print(a[2:4])
print(a[4:])

21
11
05

In [15]:
#23
time = input().split(':')
minute =  time[1]
print(minute)

12:35:45
35

In [16]:
#24
a, b = input().split()
s = a + b
print(s)

seq 2seq
seq2seq

In [17]:
#25
a,b = input().split()
c = int(a) + int(b)
print(c)

2 3
5

In [19]:
#26
f1, f2 = input().split()
s = float(f1) + float(f2)
print(s)

2.34 8.56
10.9

In [22]:
#27
a = input()
n = int(a)
print('%x'% n) # 16진수로 변환 hexadecimal %o : octal 8진수 문자열로 변환

17
11

In [26]:
#28
b = input()
n = int(b)
print('%X'% n ) # 0 1 2 3 4 5 6 7 8 9 A B C D E F : 16진수 배열

15
F

In [27]:
#29
c = input()
n = int(c)
print('%o'% n)

9
11

In [31]:
#30
a = ord(input()) #입력받은 문자를 10진수 유니코드로 변환한 후 a에 저장한다
                 #ord(): 어떤 문자의 순서 위치 값
print(a)

T
84

In [1]:
#31
c = int(input())
print(chr(c)) #c에 저장되어 있는 정수 값을 유니코드 문자로 바꿔 출력한다, chr() <-> ord()

4


In [2]:
#32
n = int(input())
print(-n)

56
-56

In [7]:
#33
n = int(input())
print(chr(n+1))

2


In [8]:
#34
a, b = input().split()
s = int(a) + int(b)
print(s)

3 4
7

In [13]:
#35
a, b = input().split 
m = float(a)*float(b)
print(m)

3.14 5
15.700000000000001

In [14]:
#36
w, n = input().split()
print(w*int(n))

sorry 2
sorrysorry

In [16]:
#37
n = input()
s = input()
print(int(n)*s)

4
I just called to say I love you
I just called to say I love you I just called to say I love you I just called to say I love you I just called to say I love you

In [22]:
#38
a, b = input().split()
c = int(a) ; d = int(b);
import math
print(math.pow(c,d))

3 4
81.0

In [5]:
#39
a, b = input().split()
m = float(a)**float(b)
print(m)

2 4.2
18.37917367995256

In [13]:
#40
a = int(input())
b = int(input())
print(a//b)

3
4
0

In [11]:
#41
a, b = input().split()
print(int(a)%int(b))

34 5
4

In [14]:
#42
a = float(input())
print(round(a, 2))

3.141592
3.14

In [18]:
#43
f1 = float(input())
f2 = float(input())
print(round(f1//f2, 3))

10.255
1
10.0

In [19]:
#44
a = int(input())
b = int(input())
print(a + b); print(a- b);
print(a*b); print(a//b)
print(a%b); print(a/b)

3
5
8
-2
15
0
3
0.6

In [8]:
#45
a = int(input()) ; b = int(input()); c = int(input())
d = a + b + c
def avg(d):
    return d / 3
print(d, avg(d))

1
2
3
6 2.0

In [13]:
#46
a = int(input())
print(a<<2)
print(a>>2)

10
40
2

In [15]:
#47
a, b = 5, 3  
print(a<<b) # a를 2**b 만큼 곱한 값 출력

40

In [17]:
#48
a, b = 123, 455
print(a>b)
print(a<b)

False
True

In [19]:
#49
a = int(input()) ; b = int(input())
print(a==b)
print(a!=b)

5
6
False
True

In [2]:
#50
a = int(input()); b = int(input())
if a < b or a == b :
    print(True)
else:
    print(false)

5
7
True

In [2]:
#51
a = int(input()); b = int(input())
if a!=b:
    print(True)
else:
    print(False)

4
5
True

In [4]:
#52
n = int(input())
print(bool(n)) #python 언어에서 정수값 0은 False, 그 외의 값은 모두 True로 평가한다

0
False

In [6]:
#53
a = bool(int(input()))
print(not a)

0
True

In [8]:
#54
a = int(input()); b = int(input())
if a == True and b == True:
    print(True)
else:
    print(False)

0
3
False

In [9]:
#55
a = int(input()); b = int(input())
print(bool(a) or bool(b))

0
4
True

In [10]:
#56
a = int(input()); b = int(input())
c = bool(a); d = bool(b)
print((c and (not d)) or ((not c) and d))

4
5
False

In [11]:
#57
a = int(input()); b = int(input())
if a == True and b == True:
    print(True)
else:
    print(False)

0
4
False

In [12]:
#58
a = int(input()); b = int(input())
if a == False and b == False:
    print(True)
else:
    print(False)

0
0
True

In [21]:
#59 비트단위 연산자
#~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor), <<(bitwise left shift), >>(bitwise right shift)
a = 1
print(~a)
# 1이 입력되었을 때 저장되는 1을 32비트 2진수로 표현하면 00000000 00000000 00000000 00000001 이고,
#~1은 11111111 11111111 11111111 11111110 가 되는데 이는 -2를 의미한다.
b = 30
print(a|b)
print(a&b)
print(a^b)
print(a<<b)
print(a>>b)
# 자료구조에서 많이 쓰인다

-2
31
0
31
1073741824
0

In [5]:
#60 and 연산자
print(3&5)
print(4&5)
# -> ~bitwise not, &bitwise and, | bitwise or, ^ bitwise xor, << bitwise left shift, >> bitwise right shift
# 네트워크에 연결되어 있는 두 개의 컴퓨터가 데이터를 공유하기 주고받기 위해 같은 네트워크에 있는지 아닌지를 판단하는
#데 사용

1
4

In [8]:
#61 or 연산자
print(3|5)
print(3|6)
# 빠른 계산이 필요한 그래픽 처리에서도 사용

7
7

In [10]:
#62 xor 연산자
print(3^5)
# 두 장의 이미지가 겹쳐졌을 때 색이 서로 다른 부분만 처리할 수 있다

6

In [3]:
#63
a, b = input().split()
a = int(a)
b = int(b)
c = (a if (a>=b) else b)
print(int(c))

5 3
5

In [5]:
#64
a, b, c = input().split()
a = int(a); b = int(b); c = int(c)
d = (a if a>b else b) if ((a if a>b else b) > c) else c # 순차적으로 생각하기
print(int(d))

3 2 1
3

In [7]:
#65
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)

if a%2 == 0:
    print(a)
if b%2 == 0:
    print(b)
if c%2 == 0:
    print(c)

4 2 3
4
2

In [11]:
#66
a, b, c = input().split()
a = int(a); b = int(b); c = int(c)
if a%2 == 0:
    print("even")
else:
    print("odd")

if b%2 == 0:
    print("even")
else:
    print("odd")

if c%2 == 0:
    print("even")
else:
    print("odd")

23214 3234 567
even
even
odd

In [2]:
#67
n = int(input())

if n < 0:
    if n%2 ==0:
        print('A')
    else:
        print('B')
if n > 0:
    if n%2 ==0:
        print('C')
    else:
        print('D')

1
D

In [2]:
#68
n = int(input())

if n == 100 or n < 100 and n>= 90:
    print('A')
elif n < 90 and n >=70:
    print('B')
elif n < 70 and n>=40:
    print('C')
elif n < 40 and n>=0:
    print('D')
else:
    print(False)

30
D

In [3]:
#69
words = str(input())
if words == 'A':
    print("Best!!!")
elif words == 'B':
    print("Good!!")
elif words == 'C':
    print("Run!")
elif words == 'D':
    print("Slowly~")
else:
    print("What?")

D
Slowly~

In [5]:
 #70
month = int(input())

if month > 12:
    print(False)
if month%12 == 0 or 1 or 2:
    print("winter")
elif month%12 == 3 or 4 or 5:
    print("spring")
elif month%12 == 6 or 7 or 8:
    print("summer")
elif month%12 == 9 or 10 or 11:
    print("fall")

12
winter

In [8]:
#71
n = 1
while n != 0:
    n = int(input())
    if n != 0:
        print(n)

7
7
4
4
2
2
3
3
10
10
0

In [13]:
#72
n = int(input())
while n != 0:
    n -= 1
    if n !=0:
        print(n)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [14]:
#73
n = int(input())

while n != 0:
    n -= 1
    if n != 0:
        print(n)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
#74 a부터 입력한 문자까지 순서대로 공백을 두고 한 줄로 출력
c = ord(input())
t = ord('a')
while t <= c:
    print(chr(t), end=' ') # chr() : 유니코드를 문자열로 변환
    t+=1

d
a b c d

In [20]:
#75
n1 = int(input())
n2 = 0
while n2 <= n1:
    print(n2, end=' ') # 공백이 있게끔 출력하라
    n2 += 1

30
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [22]:
#76
n = int(input())
for i in range(n+1):
    print(i)

5
0
1
2
3
4
5

In [27]:
#77 짝수만 더해서 계산하기
n = int(input())
s = 0

for i in range(1, n+1):
    if i%2 == 0:
        s += i
print(s)

5
6

In [4]:
#78 원하는 문자가 입력될 때까지 반복 출력
while(1): #항상 참이므로, 적어도 1번은 출력된다
    a = input()
    print(a)
    if a == 'q': break

a
a
r
r
d
d
e
e
q
q

In [2]:
#79
a = int(input())
i = 1
while(1):
    s = (i*(i+1))/2
    if s < a :
        i = i+1
    else:
        break
print(i)

56
11

In [7]:
#80 서로 다른 주사위 2개를 던졌을 때, 나올 수 있는 모든 경우
n, m = input().split()
n = int(n); m = int(m)
for i in range(1, n+1):
    for j in range(1, m+1):
        print(i,j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [1]:
#81
a = int(input(), 16) # a를 16진수로 입력받음
for i in range(1, 16):
    answer = a*i
    print("%X*%X=%X" %(a, i, answer))

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [2]:
#82
a = int(input())
for i in range(1, a+1):
    if i%10 == 3:
        print("X", end =' ')
    elif i%10 == 6:
        print("X", end = ' ')
    elif i%10 == 9:
        print("X", end = ' ')
    else:
        print(i, end = ' ')

33
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X X XX 30 X XX 31 X XX 32 X XX X

In [1]:
#83
a,b,c = map(int, input().split())
for i in range(a):
    for j in range(b):
        for k in range(c):
            print(i, j, k)
print(a*b*c)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [23]:
# 84
h, b, c, s = map(int, input().split())
def mb():
    if h > 48000 or b>32 or c> 5 or s>6000:
        return False
    elif b%8 != 0:
        return False
    else:
        return h*b*c*s/(8*1024**2)   
print(round(mb(), 1), " MB")

44100 16 2 10
1.7  MB

In [25]:
#85
w, h, b = map(int, input().split())
def a():
    if w <=0 or h <= 0 :
        return False
    if w > 1024 or h > 1024:
        return False
    elif b%4 != 0 or b > 40:
        return False
    else:
        return w*h*b/(8*1024**2)

print(round(a(),3), " MB")

1024 768 24
2.25  MB

In [16]:
#86
a = int(input())
s=0; i=1;
while s < a:
    s += i
    i += 1
print(s)

57
66

In [21]:
#87
a = int(input())
for i in range(1, a+1):
    if i%3 == 0:
        continue
    print(i, end=' ')

20
1 2 4 5 7 8 10 11 13 14 16 17 19 20

In [31]:
#88
a, d, n =  map(int, input().split())
def seq():
    if 0 <= a < 101 and 0 <= d < 101 and 0 <= n < 101:
        return a + d*(n-1)
    else:
        return False
print(seq())

1 3 5
13

In [33]:
# 89
a, r, n = map(int, input().split())
def seq2():
    if 0 <= a < 11 and 0 <= r < 11 and 0 <= n < 11:
        return a*r**(n-1)
    else:
        return False
print(seq2())

2 3 7
1458

In [46]:
#90
a, m, d, n = map(int, input().split())
for i in range(n-1):
    a = a*m+d
print(a)

1 -2 1 8
-85

In [47]:
#91
a, b, c = map(int, input().split())
d = 1
while d%a !=0 or d%b != 0 or d%c !=0:
    d += 1
print(d)

3 7 9
63

In [3]:
#92 랜덤 출석
n = int(input()) #개수를 입력받아 n에 정수로 저장
a = input().split() #공백을 기준으로 잘라 a에 순서대로 저장

for i in range(n): #0부터 n-1까지
    a[i] = int(a[i]) #a에 순서대로 저장되어 있는 각 값을 정수로 변환

d = [] #d라는 이름의 빈 리스트 [] 변수를 만듦. 대괄호 기호 []를 사용한다
for i in range(24): #[0,0,0, ..., 0]과 같이 24개의 정수 값 0을 추가해 넣음
    d.append(0) # 각 값은 d[0], d[1], d[2],... 으로 값을 읽고 저장할 수 있음

for i in range(n): #번호를 부를 때마다, 그 번호에 대한 카운트 1씩 증가
    d[a[i]] += 1
    
for i in range(1,24): # 카운트한 값을 공백을 두고 출력
    print(d[i], end=' ')

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [4]:
#93 출석을 부른 순서를 바꾸어 공백을 두고 출력하기
n = int(input())
a = input().split()

for i in range(n-1, -1, -1):
    print(a[i], end=' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

In [21]:
#94
n = int(input())
k = list(map(int, input().split()))
a = k[0]

for i in range(n):
    if a > k[i]:
        a = k[i]

print(a)

10
10 -2 3 4 5 5 4 3 2 5
-2

In [23]:
#95 바둑알

d = []
for i in range(20):
    d.append([])
    for j in range(20):
        d[i].append(0)
n = int(input())
for i in range(n):
    x, y = input().split()
    d[int(x)][int(y)] = 1
for i in range(1, 20):
    for j in range(1, 20):
        print(d[i][j], end=' ')
    print()
#  d = [[0 for j in range(20)] for i in range(20)]

5
1 1
2 2
3 3
4 4
19 19
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1

In [2]:
#96
d = [[0 for i in range(19)] for j in range(19)]

for i in range(19):
    d[i] = list(map(int, input().split()))

n = int(input())
    
for j in range(n):
    x,y = map(int, input().split())
    
    for k in range(len(d)):
        if d[x-1][k] == 0:
            d[x-1][k] = 1
        else:
            d[x-1][k] = 0
            
        if d[k][y-1] == 0:
            d[k][y-1] = 1
        else:
            d[k][y-1] = 0
for idx in range(len(d)):
    print(' '.join(map(str, d[idx])))

0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
2
10 10
12 12
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [5]:
#97
w, h = map(int, input().split())
plot = [[0 for j in range(w)] for i in range(h)]

n = int(input())
for k in range(n):
    l, d, x, y = map(int, input().split())
    if d==0:
        for j in range(l):
            plot[x-1][y-1+j]=1
    else:
        for j in range(l):
            plot[x-1+j][y-1]=1

for i in range(h):
    for j in range(w):
        print(plot[i][j], end =' ')
    print()

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
1 1 0 0 0
0 0 1 0 1
0 0 1 0 1
0 0 1 0 1
0 0 0 0 1

In [7]:
#98
maze = []

for i in range(10):
    maze.append(list(map(int, input().split())))

x,y = 1,1

while True:
    if maze[x][y] == 0:
        maze[x][y] = 9
    elif maze[x][y] == 2:
        maze[x][y] = 9
        break
    
    if maze[x][y+1] ==1 and maze[x+1][y] == 1:
        break
    
    if maze[x][y+1] != 1:
        y += 1
    elif maze[x+1][y] != 1:
        x += 1

for i in range(10):
    for j in range(10):
        print(maze[i][j], end= ' ')
    print()

1 1 1 1 1 1 1 1 1 1
1 0 0 1 0 0 0 0 0 1
1 0 0 1 1 1 0 0 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 1 0 1 0 1
1 0 0 0 0 1 2 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 1 0 0 0 0 0 1
1 0 9 1 1 1 0 0 0 1
1 0 9 9 9 9 9 1 0 1
1 0 0 0 0 0 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1